.work {
    display: none;

@media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;}
}

.work__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.work__list {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.work__item {
    margin-right: 30px;

&:last-child {
    margin-right: 0;
}
}

.work-wrap {
    position: relative;
}

.work-wrap__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
