img {
    display: block;
    max-width: 100%;
    height: auto;

    // object-fit: cover;
    // object-position: center;
}

body {
    font-family: var(--main-font);
    color: var(--main-page-color);
}