:root {

    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    --main-page-color: #212121;
    --secondary-page-color: #757575;
    --accent-color: #2196f3;
    --secondary-accent-color: #188CE8;

    --dark: #2f303a;
    --light: #f5f4fa;
}